<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.omar.azanapkmostafa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.alhadara.omar.azan.Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alhadara.omar.azan.Activities.ConvertDateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alhadara.omar.azan.Activities.TimePointSettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alhadara.omar.azan.Activities.LocationsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alhadara.omar.azan.Activities.InternetLocationSearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alhadara.omar.azan.Activities.UpdateCurrentLocationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alhadara.omar.azan.Activities.AdjustLocationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alhadara.omar.azan.Activities.ManuallyLocationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alhadara.omar.azan.Activities.ManuallyLocationCitiesActivity"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- Declare  Alarm Broadcast receiver here -->
        <activity
            android:name="com.alhadara.omar.azan.Activities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alhadara.omar.azan.Activities.SettingsSecondActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alhadara.omar.azan.Activities.SettingsThirdActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alhadara.omar.azan.Activities.SettingsForthActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alhadara.omar.azan.Activities.SahoorActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alhadara.omar.azan.Activities.AzkarActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <receiver
            android:name="com.alhadara.omar.azan.Alarms.AlarmsScheduler"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.alhadara.omar.azan.Alarms.TimePrayerReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name="com.alhadara.omar.azan.Alarms.SilentTimeReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="com.alhadara.omar.azan.Alarms.TimePrayerService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.alhadara.omar.azan.Alarms.SahoorAlarmSnoozeService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>